
body{
    background-image: url("/1er-tp-ImAgInArIaS/Curriculo/Imagenes/Fondo.jpg")!important;
    background-repeat: repeat !important;
}
.foto .hoverphoto { 
display: none;
}

.foto:hover .hoverphoto { 
    display: initial;

}

.foto {
    display:inline-block;
}
.foto:hover .magia { 
    display: none;

}
.magia, .hoverphoto {
    width: 400px !important;
    height: 400px !important; 
    
}

#panel, #flip{
padding: 5px;
text-align: center;
background-color: white;
border: solid 1px;

}
#panel{
padding: 50px;
display: none;
}
