
body{
    background-image: url("/Curriculo/Imagenes/Fondo.jpg")!important;
    background-repeat: repeat !important;
}
.foto .hoverphoto { 
display: none;
}

.foto:hover .hoverphoto { 
    display: initial;

}

.foto {
    display:inline-block;
}
.foto:hover .magia { 
    display: none;

}
.magia, .hoverphoto {
    width: 400px !important;
    height: 400px !important; 
    
}
